[submodule "frontend"]
	path = frontend
	url = https://github.com/srinivasthedeveloper/voicemybook-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/srinivasthedeveloper/voicemybook-backend.git
